<!DOCTYPE html>
<html>
<head>
{% include head.html %}  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">

</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    <p>
      <a href="https://www.twitter.com/ShankarVellal"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/ShankarVellal/"><i class="fa fa-github"></i></a>
      <a href="https://angel.co/shankar-vellal/"><i class="fa fa-angellist"></i></a>
      <a href="https://www.linkedin.com/in/shankarvellal/"><i class="fa fa-linkedin"></i></a>
    </p>
    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
